.fullsized {
	width: 100%;
}

.floatRightProject {
	float: right;
	margin: 6px 55px 0 0;
}

.toolbarHeading {
	background-color: #404040;
	color: #fff;
}

.projectHeadLine {
	color: #373737;
}

.projectHeadLine div{
	margin-bottom: 10px;
}

.floatRightProject img {
	margin-left: 10px;
}

.projectHeadLine img {
	margin-left: 10px;
}
.projectChoiceLine {
	background-color: #c8c8c8;
	font-size: 1.4em;
	text-align: center;
}

.projectChoiceLine .app-button{
	color: #373737;
	font-size: 20px;
	font-weight: 700;
	line-height: 21px;
	padding: .8em 2em .8em 1em;
}

.projectChoiceLine a{
	color: #ffffff;
	display: block;
	padding: .8em 2em;
}

.projectChoiceLine a:hover{
	background-color: #bebebe;
}

.choice_icon {
	background-color: #d2d0d0;
	display: inline-block;
}

.choose_icon {
	background: -webkit-linear-gradient(-180deg, #e4e4e4 100%, #f6f2f2 49%, #efeeee 0%);
	background: -moz-linear-gradient(-180deg, #e4e4e4 100%, #f6f2f2 49%, #efeeee 0%);
	background: -o-linear-gradient(-180deg, #e4e4e4 100%, #f6f2f2 49%, #efeeee 0%);
	background: -ms-linear-gradient(-180deg, #e4e4e4 100%, #f6f2f2 49%, #efeeee 0%);
	background: linear-gradient(270deg, #e4e4e4 100%, #f6f2f2 49%, #efeeee 0%);
	display: inline-block;
}

.screen-choice div{
	height: 25px;
	width: 25px;
	padding: 2px 0 0 3px ;
	margin: -2px 0px 0 -3px;
}

.screen-title {
	padding: .5em;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	border-bottom: 1px solid #dcdbdb;
}

.screen-choose{
	color: #ffffff;
}
.screen-choice .visible-xs{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 3px;
}
.screen-choice .visible-xs div{
	display: inline-block;
	margin-left: -4px;
}

.projectPanel {
	color: #373737;
	font-size: 11px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 14px;
	text-align: center;
}

.projectPanel div div div {
	text-align: center;
	vertical-align: center;
	position: relative;
}

.projectPanel .left {
	min-height: 60px;
	border-right: 1px rgba(64, 64, 64, 0.2) solid;
}


.projectPanel .left-text {
	min-height: 15px;
	border-bottom: 1px rgba(64, 64, 64, 0.2) solid;
	border-right: 1px rgba(64, 64, 64, 0.2) solid;
}
.projectPanel .right-text {
	min-height: 15px;
	border-bottom: 1px rgba(64, 64, 64, 0.2) solid;
}
.projectPanel .medium {
	min-height: 50px;
}
.projectPanel .selected {
	background-color: rgba(64, 64, 64, 0.1);
}

.projectTitle {
	color: #000000;
	font-size: 15px; /* Approximation due to font substitution */
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 1em;
}
.projectTitle span {
	border-bottom: 3px solid #e40b0b;
}
.projectTitle span:after {
	content: '';
	top: 24px;
	right: 48.5%;
	position: absolute;
	border-top: 4px solid #E40B0B;
	border-bottom: 0px solid #e40b0b;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.projectPanel p{
	text-align: left;
}
.projectPanel strong{
	color: #404040;
	font-size: 18px; /* Approximation due to font substitution */
	font-weight: 700;
	line-height: 13px;
}

.panelScreen {
}

.appdata {
	border: 1px solid #cdcaca;
}

.appdata .table-header {
	background-color: #f3efef;
	color: #777777; font-size: 18px;
	font-weight: 400;
	line-height: 21px;

}

.appdata .categories {
	padding-top: 15px;
}

.appdata .categories .col-xs-3 {
padding: 1em;
text-align: center;
}

.appdata .categories .selected {
	color: #5dc9e6;
	background-color: #71717a;
}


.appdata .table-title {
	color: #163645;
	font-size: 21px;
	font-weight: 400;
	line-height: 21px;
	margin: 10px 10px 5px 5px;
}

.appdata .content .table-header {
	background-color: rgba(22, 54, 69, 0.4);
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	line-height: 21px;
}

.appdata .content {
	background-color: #ffffff;
	text-align: center;
	padding-left: 1%;
	padding-right: 1%;
}

.appdata .appdata-table {
	margin-top:20px; 
	margin-bottom:10px; 
	text-align: left;
}

.appdata .appdata-table .even {
	background-color: rgba(243, 239, 239, 0.4);
	border-top: 1px rgba(0, 0, 0, 0.1) solid;
	border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
}

.appdata .appdata-table .appdata-row:hover {
	background-color: rgba(243, 239, 239, 1);
}
.arrow-left {
	float:left;
}
.arrow-right {
	float:right;
}

.app-content:before {
	content: "";
	display: block;
	padding-top: 41.5%;
}

.app-content {
top: -10px;
position: relative;
}

.app-content > .fb {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.activeToolbar {
	margin: 0;
	padding: 0;
	overflow: auto;
	background: #edebeb;
	border: 1px solid #cecdcd;
	box-shadow: 1px 0px 5px #BBBBBB;
}

.app-content > .fb > img {
	padding-left: 0;
}

.icon-viewLeft {
	display: block;
	width: 40px;
	height: 31px;
	background: url(../img/panel_left.png) no-repeat;
}

.icon-panelFront {
	display: block;
	width: 39px;
	height: 40px;
	background: url(../img/panel_front.png) no-repeat;
}

.icon-panelRight {
	display: block;
	width: 40px;
	height: 31px;
	background: url(../img/panel_right.png) no-repeat;
}

.icon-panelBack {
	display: block;
	width: 39px;
	height: 39px;
	background: url(../img/panel_back.png) no-repeat;
}

.icon-panelTop {
	display: block;
	width: 31px;
	height: 40px;
	background: url(../img/panel_top.png) no-repeat;
}

.icon-panelAuto {
	display: block;
	width: 37px;
	height: 37px;
	background: url(../img/panel_auto.png) no-repeat;
}

.icon-panelFree {
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/panel_free.png) no-repeat;
}


.singleView:hover .icon-viewLeft, .singleView.selected .icon-viewLeft{
	background: url(../img/panel_left-red.png) no-repeat;
}

.singleView:hover .icon-panelFront, .singleView.selected .icon-panelFront {
	background: url(../img/panel_front-red.png) no-repeat;
}

.singleView:hover .icon-panelRight, .singleView.selected .icon-panelRight {
	background: url(../img/panel_right-red.png) no-repeat;
}

.singleView:hover .icon-panelBack, .singleView.selected .icon-panelBack{
	background: url(../img/panel_back-red.png) no-repeat;
}

.singleView:hover .icon-panelTop, .singleView.selected .icon-panelTop{
	background: url(../img/panel_top-red.png) no-repeat;
}

.singleView:hover .icon-panelAuto, .singleView.selected .icon-panelAuto{
	background: url(../img/panel_auto-red.png) no-repeat;
}

.singleView:hover .icon-panelFree, .singleView.selected .icon-panelFree{
	background: url(../img/panel_free-red.png) no-repeat;
}

.singleView {
	position: relative;
	height: 90px;
	padding: 20px 0;
	border-bottom: 1px solid #d1cece;
}

.singleView span {
	position: absolute;
	bottom: 8px;
	width: 100%;
	left: 0;
}

.singleView:first-child {
	margin-left: -1px;
}

.singleView i {
	margin: auto;
}

.singleView:hover, .shotSetting:hover{
	background-color: #E3E0E0;
}

.singleSetting {
	height: 91px;
	padding: 2em 0;
	border-bottom: 1px solid #d1cece;
}

.onOffToggle {
	border-radius: 50%;
	border: 2px solid #404040;
	width: 32px;
	height: 32px;
	display: block;
	margin: auto;
}

.onOffToggle__container {
	background: #868585;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	padding: 6px 0;
	color: #FFF;
	font-weight: 500;
	font-size: 9px;
	border: 2px solid #EEECEC;
	text-transform: uppercase;
}

.onOffToggle__container:hover {
	background: #969696;
}

.onOffToggle__container.on {
	background-color: #e40b0b;
}

.shotSetting {
	padding: 2em 0;
	border-bottom: 1px solid #cecccc;
}

.shotSetting a{
	display: block;
}

.shotSetting span {
	display: block;
	margin-top: 1em;
}

.activeDecals {

}

.activeDecals__img {
	padding: 2.9%;
	border-right: 1px solid #d2cece;
	border-bottom: 1px solid #d1cece;
}

.mainActive {
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
}

.mainActive_img {
	margin-right: 18%;
}

.btn--grey {
	background: #c8c8c8;
	border-radius: 0;
	width: 50%;
	padding: 1em 0;
	margin-bottom: 1em;
	border-right: 1px solid #ebebeb;
	color: #fff;
	font-weight: 500;
}

.btn--grey:hover {
	background: #bebebe;
	color: #fff;
}

.btn--darkGrey {
	background: #404040;
	color: #fff;
	border-radius: 0;
	width: 100%;
	text-align: left;
	margin: 1em 0;
}

.btn--darkGrey:hover {
	background: #565656;
	color: #fff;
}

.btn--darkGrey .icon-plus {
	vertical-align: middle;
}

.designsHeader {
padding: 1em 0;
}

.designs h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

.designs h5 {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

.designsButton {
	width: 100%;
	margin-top: 1em;
	text-align: left !important;
	padding-left: 1em;
}

.designsButton span {
margin-top: 6px;
display: inline-block;
}

.sponsorValues p {
	font-size: 11px;
	text-transform: uppercase;
	padding: 0 1em;
}

.sponsorValue__price {
	text-align: left !important;
}

.sponsorValue__price span{
	margin-left: 1em;
	font-size: 19px;
	font-weight: bold;
}

.sponsorValue__form textarea{
	width: 100%;
	height: 50px;
	resize: none;
	overflow: auto;
}

.wheels {
	font-size: 13px;
}

.block {
	display: block;
}

.wheels .block {
	text-align: left;
}
.wheels textarea {
	width: 100%;
}

.tireType img {
	border: 1px solid #D9D9D9;
}

.toolbarInner {
	margin: 1em 0;
	text-align: left;
}