/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/


/**
 * NORMALIZE...........Normalize.css
 * FONTS...............
 * CLEARFIX............
 * MAIN................
 *
 * FLEXBOX.............
 * NAV.................
 * LOGO................
 * BREADCRUMBS.........
 *
 * HEADINGS............
 * PARAGRAPHS..........
 * SMALLPRINT..........
 * LISTS...............
 * IMAGES..............
 * TABS..............
 * FORMS...............
 * BUTTONS.............
 * SLIDER/CAROUSEL.....Styles for owl.carousel.js
 * FANCYBOX............Styles for jquery.facybox.pack.js
 * MM-MENU.............Styles for jquery.mmenu.min.js
 *
 */


 /*------------------------------------*\
    NORMALIZE
\*------------------------------------*/

@import url('normalize.css');



/*------------------------------------*\
    FONTS
\*------------------------------------*/


body {
	font-family: 'Open Sans', sans-serif;
	color: #373737;
	background-color: #ebebeb;
}



 /*------------------------------------*\
    MAIN
\*------------------------------------*/


a {
	text-decoration: none;
	color: #e42e22;
}

.wrapper {
	width: 95%;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
}


.top-section {
	background-color: #373737;
	border-bottom: 4px solid #e42e22;
}

.top-bar {
	background-color: #fff;
	height: 60px;
}

.card {
	background-color: #fff;
	-moz-box-shadow:    1px 1px 0px 0px #d3d3d3;
  	-webkit-box-shadow: 1px 1px 0px 0px #d3d3d3;
  	box-shadow:         1px 1px 0px 0px #d3d3d3;
}

.card__title--boxed {
	display: block;
	position: absolute;
	height: 45px;
	width: 250px;
	background-color: #373737;
	color: #fff;
	line-height: 2.2;
	text-align: center;
	font-weight: 300;
	letter-spacing: 1.5px;
	margin-top: 60px;
}

.card__section-1third {
	width: 32%;
}

.m-area {
	margin-top:20px;
}

.p-info {
	height: 250px;
	z-index: 1;
	position: relative;
	margin-top: -4em;
}

.m-info {
	height: 188px;
}

.card__title__l {
	height: 50px;
	margin-bottom: 5px;
}




/*------------------------------------*\
    ALERTS
\*------------------------------------*/


.alert-bar {
	background-color: #5dc9e6;
	color: #fff;
	height: 20px;
}

/*------------------------------------*\
    FLEXBOX
\*------------------------------------*/

.fb {
	display: flex;
	justify-content: space-between;
}


/*------------------------------------*\
  NAV
\*------------------------------------*/

.main-nav ul li a {
	color: #fff;
}



/*------------------------------------*\
  LISTS
\*------------------------------------*/


 ul li{
	list-style: none;
}





/*------------------------------------*\
    IMAGES
\*------------------------------------*/


.profile-img {
	border: 5px solid #e42e22;
	border-radius: 100%;
	position: relative;
	z-index: 2;
}



/*------------------------------------*\
    HEADINGS
\*------------------------------------*/


.card__title {
	font-size: 24px;
	font-weight: 400;
	margin: 0;
}

.card__inner__heading {
	font-size: 12px;
	font-weight: 700;
	margin: 0;
}

p {
	margin: 0;
}

/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.button {
	display: block;
	height: 35px;
	width: 205px;
	background-color: #e42e22;
	border-radius: 5%;
	color: #fff;
	line-height: 2.2;
	text-align: center;
	font-weight: 300;
	letter-spacing: 1.5px;
}







