<div id="subheader">
    <span class="subheader_block" id="collaborators">
        Collaborators <sup>+</sup>
    </span>
    <span class="subheader_block" id="projects_number">
        <span class="projects_number"> 6 </span> Presentations
    </span>
</div>

<div class="tile col-md-12 firsttitlepd">
	<a href="#" class="blue_button">Create new presentation</a>
	<h3>Active Presentations</h3>
	<div class="clearfix"> </div>
</div>

<div class="tile col-md-12">
    <div class="dd_zone">
        <div class="close_dd">
            <img src="img/circle_delete.png" alt="Close drag-and-drop zone" />
        </div>
        <img src="img/cloud_upload.png" class="cloud_upload">
        <span>Drag and drop your images or source files, or <a class="red_text" href="">browse</a></span>
    </div>
</div>

<div class="tile col-md-12">
    <div class="tile_title_black">
        <center>
            <h2>Welcome to your presentation setup</h2>
            <h4>Check out new user guide</h4>
        </center>
    </div>
    <div class="tile_content">
        <center>
            <a href="#" class="blue_button">Driver presentation</a>
            <a href="#" class="blue_button">Team presentation</a>
            
            <hr/>
            
            <div id='media-player' class="col-md-6 col-md-offset-3">
                <video id='media-video' class='col-md-12'>
                    <source src='videos/video.mp4' type='video/mp4'>
                    <source src='videos/video.ogg' type='video/ogg'>
                </video>
                <div id='media-controls'>
                    <div id="global-video">
                        <span id="current-time" class="col-md-1">00:00</span>
                        <div id="progress-video-div" class="col-md-10">
                            <div id="progress-video"></div>
                        </div>
                        <span id="total-duration" class="col-md-1">99:99</span>
                    </div>
                    <div class="col-md-8 just-left">
                        <button id='left-button' class='video-button' title='play' ng-click='togglePlayPause();'>⧏</button>
                        <button id='play-pause-button' class='video-button' title='play' ng-click='togglePlayPause();'>▶</button>
                        <button id='right-button' class='video-button' title='play' ng-click='togglePlayPause();'>⧐</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </center>

            <div class="col-md-6 col-md-offset-3">
                <hr/>
                <h3>Duis sapien turpis, tempus nec porta eget</h3>
                <p>Integer ornare libero nisi. Duis ac magna urna. Nulla facilisi. Phasellus at ante magna. Quisque nec porta nulla. Suspendisse nec orci vel elit aliquet blandit in non orci. Vivamus posuere dui eget lacinia rutrum...</p>
                <hr/>
            </div>

            <div class="clearfix"></div>
    </div>
</div>

<div class="clearfix">
	
</div>

<div class="block5 firstafter">
	<div class="bartitle">
		<a href="#">Hide <img alt="" src="img/circle_minus.png" /> </a>
		Presentation
	</div>
	<div class="contentsplit splitright">
		<img class="ii righty" alt="" src="img/icon_i.png" />
		<button class="blueone righty">View all</button>
		<button class="blueone righty">Upload</button>
		<h4>
			Partner logos
		</h4>
		<h6>Please tick on your own logo</h6>
		<span class="lpics2">
			<input class="lpics2check" type="checkbox">
			<img class="" alt="" src="img/layout_106.png">
		</span>
		<span class="lpics2">
			<input class="lpics2check" type="checkbox">
			<img class="" alt="" src="img/layout_107.png" />
		</span>
		<span class="lpics2">
			<input class="lpics2check" type="checkbox">
			<img class="" alt="" src="img/layout_108.png">
		</span>
		<div class="clearfix"> </div>
	</div>
	<div class="contentsplit splitleft">
		<div class="subtitle">
			<span class="edit">Edit &nbsp;&nbsp;<img alt="" src="img/icon_pen.png" /></span>
			Nick Fuel Coverage Presentation
		</div>
		<div class="imgface imgface2">
			<img alt="face" src="img/layout_105.png" />
			<a href="#">Edit</a>
		</div>
		
		<div class="content4">
			<h5>Total Funds Proposal*</h5>
			
			<div class="tt1">
				<span class="edit edit2">Edit &nbsp;&nbsp;<img alt="" src="img/icon_pen.png" /></span>
				<span class="bet">
					<input class="bet" readonly="youyou" value="£100,000" />
				</span>
			</div>
			
			<hr />
			<h5 class="ttt2">Presentation Type*</h5>
			
			<label class="tt">Driver</label>
			<input class="tt" type="checkbox" />
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<label class="tt">Team</label>
			<input class="tt" type="checkbox" />
			
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="clearfix">
		
	</div>
</div>


<div class="block5">
	<div class="bartitle">
		<a href="#">Hide <img alt="" src="img/circle_minus.png" /> </a>
		Theme&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<span class="showall">Show all &#5167;</span>
	</div>
	<div class="content">
		<span class="img">
			<img alt="img" src="img/layout_101.png" /><br />
			Lorem ipsum dolor sit amet
		</span>
		<span class="img">
			<img alt="img" src="img/layout_101.png" /><br />
			Lorem ipsum dolor sit amet
		</span>
		<span class="img">
			<img alt="img" src="img/layout_101.png" /><br />
			Lorem ipsum dolor sit amet
		</span>
		<span class="img">
			<img alt="img" src="img/layout_101.png" /><br />
			Lorem ipsum dolor sit amet
		</span>
		<span class="img">
			<img alt="img" src="img/layout_101.png" /><br />
			Lorem ipsum dolor sit amet
		</span>
		<span class="img">
			<img alt="img" src="img/layout_101.png" /><br />
			Lorem ipsum dolor sit amet
		</span>
		<div class="clearfix">
			
		</div>
	</div>
</div>


<div class="block5">
	<div class="bartitle">
		<a href="#">Hide <img alt="" src="img/circle_minus.png" /> </a>
		Driver / Rider Details
	</div>
	<div class="contentsplit splitright">
		<img class="ii righty" alt="" src="img/icon_i.png" />
		<button class="blueone righty">View all</button>
		<button class="blueone righty">Upload</button>
		<h4>
			Driver Photos
		</h4>
		<img class="lpics" alt="" src="img/layout_102.png" />
		<img class="lpics" alt="" src="img/layout_102.png" />
		<img class="lpics" alt="" src="img/layout_102.png" />
		<img class="lpics" alt="" src="img/layout_102.png" />
		<img class="lpics" alt="" src="img/layout_102.png" />
		<img class="lpics" alt="" src="img/layout_102.png" />
	</div>
	<div class="contentsplit splitleft">
		<div class="subtitle">
			<span class="edit">Edit &nbsp;&nbsp;<img alt="" src="img/icon_pen.png" /></span>
			Adam Grist
		</div>
		<div class="imgface">
			<img alt="face" src="img/dude4.png" />
			<a href="#">Edit</a>
		</div>
		<span class="edit editright">Edit &nbsp;&nbsp;<img alt="" src="img/icon_pen.png" /></span>
		<p class="simple lheight">
			<b class="key">Date of birth:</b> 09.02.84<br />
			<b class="key">Team:</b> Carlin<br />
			<b class="key">Email:</b> <span class="reddy">adgrist@hotmail.com</span><br />
			<b class="key">Facebook:</b> <span class="reddy">/adgrist</span><br />
			<b class="key">Twitter:</b> <span class="reddy">@adgrist</span><br />
		</p>
	</div>
	<div class="clearfix"> </div>
</div>




<div class="block5">
	<div class="bartitle">
		<a href="#">Hide <img alt="" src="img/circle_minus.png" /> </a>
		Team / Series Details
	</div>
	<div class="contentsplit splitright">
		<div class="subtitle">
			<span class="edit">Edit &nbsp;&nbsp;<img alt="" src="img/icon_pen.png" /></span>
			Series Name: WTCC
		</div>
		<div class="imgface">
			<img alt="face" src="img/layout_104.png" />
			<a href="#">Edit</a>
		</div>
		<span class="edit editright">Edit &nbsp;&nbsp;<img alt="" src="img/icon_pen.png" /></span>
		<p class="simple lheight">
			<b class="key">Started:</b> 09.02.84<br />
			<b class="key">Website:</b> <span class="reddy">wtcc.com</span><br />
			<b class="key">Facebook:</b> <span class="reddy">/wtcc</span><br />
			<b class="key">Twitter:</b> <span class="reddy">@wtcc</span><br />
		</p>
	</div>
	<div class="contentsplit splitleft">
		<div class="subtitle">
			<span class="edit">Edit &nbsp;&nbsp;<img alt="" src="img/icon_pen.png" /></span>
			Team: Carlin
		</div>
		<div class="imgface">
			<img alt="face" src="img/layout_103.png" />
			<a href="#">Edit</a>
		</div>
		<span class="edit editright">Edit &nbsp;&nbsp;<img alt="" src="img/icon_pen.png" /></span>
		<p class="simple lheight">
			<b class="key">Founded:</b> 09.02.84<br />
			<b class="key">Team Principle:</b> Carlin<br />
			<b class="key">Car:</b> Chevy Cruz<br />
			<b class="key">Website:</b> <span class="reddy">carlin.co.uk</span><br />
			<b class="key">Facebook:</b> <span class="reddy">/Carlin</span><br />
			<b class="key">Twitter:</b> <span class="reddy">@Carlin</span><br />
		</p>
	</div>
	<div class="clearfix">
		
	</div>
</div>

<div class="block5">
	<div class="bartitle">
		<a href="#">Hide <img alt="" src="img/circle_minus.png" /> </a>
		Keywords
	</div>
	<div class="content">
		<div class="subtitle">
			<span class="edit"><img alt="" src="img/icon_i.png" />&nbsp;&nbsp;&nbsp;&nbsp; Edit &nbsp;&nbsp;<img alt="" src="img/icon_pen.png" /></span>
			Describe yourself with some great keywords
		</div>
		<input class="big" name="" value="Driven" />
		<input class="big" name="" value="Fast" />
		<input class="big" name="" value="Exciting" />
		<input class="big" name="" value="Focused" />
		<input class="big" name="" value="Dynamic" />
		<input class="big" name="" value="Boring" />
		<div class="clearfix">
			
		</div>
	</div>
</div>


<div class="inter">
	Now it's time to provide information on <br /> each section of the presentations.
</div>


		<div class="block5">

				<div class="hidden-xs hidden-md">

			<div class="menu-title">

					<div class="left-menu">

							<div class="left-corner"><img src="img/left_arrow.png"></div>

							<div class="little-title">TITLE PAGE</div>
							<div class="little-title">DRIVER PROFILE</div>
							<div class="little-title">TEAM PROFILE</div>
							<div class="little-title">SERIES PROFILE</div>


					</div>
					<div class="right-menu">

							<div class="little-title">RACE CALENDAR</div>
							<div class="little-title">THE CAR</div>
							<div class="little-title">THE PROPOSAL</div>
							<div class="little-title">DRIVER KIT</div>
							<div class="right-corner"><img src="img/right_arrow.png"></div>
					</div>

				</div>

				</div>

				<div class="visible-xs visible-md">

			<div class="menu-title">

					<div class="display-line">

							<div class="left-corner"><img src="img/left_arrow.png"></div>

							<div class="little-title">TITLE PAGE</div>
							<div class="little-title">DRIVER PROFILE</div>
							<div class="little-title">TEAM PROFILE</div>
							<div class="little-title">SERIES PROFILE</div>


					</div>
					<div class="display-line">

							<div class="little-title">RACE CALENDAR</div>
							<div class="little-title">THE CAR</div>
							<div class="little-title">THE PROPOSAL</div>
							<div class="little-title">DRIVER KIT</div>
							<div class="right-corner"><img src="img/right_arrow.png"></div>
					</div>

				</div>

				</div>


				<div class="bartitle">
					<a href="#">Hide <img alt="" src="img/circle_minus.png" /> </a>
					11. Title Page
				</div>
				<div class="content">
					<div class="subtitle">
						<p class="title-text">Please check this content and edit in the sections above if required</p>
						Choose Partner Logo
					</div>
					<div class="row small-icon">
						<div class="col-md-6">
							<span class="lpics2">
								<input class="lpics2check" type="checkbox" />
								<img class="" alt="" src="img/layout_106.png" />
							</span>
							<span class="lpics2">
								<input class="lpics2check" type="checkbox" />
								<img class="" alt="" src="img/layout_107.png" />
							</span>
							<span class="lpics2">
								<input class="lpics2check" type="checkbox" />
								<img class="" alt="" src="img/layout_108.png" />
							</span>
							<span class="lpics2">
								<input class="lpics2check" type="checkbox" />
								<img class="" alt="" src="img/layout_108.png" />
							</span>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-xs-6">
									<p class="simple">
										<b class="key">Date of birth:</b> 09.02.84<br />
										<b class="key">Team:</b> Carlin<br />
										<b class="key">Email:</b> <span class="reddy">adgrist@hotmail.com</span><br />
										<b class="key">Facebook:</b> <span class="reddy">/adgrist</span><br />
										<b class="key">Twitter:</b> <span class="reddy">@adgrist</span><br />
									</p>
								</div>
								<div class="col-xs-6">
									<div class="imgface">
										<img alt="face" src="img/layout_104.png" />
										<a href="#">Edit</a>
									</div>
								</div>

							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 center last-button">
							<a href="#" class="red_button">
								<img src="img/save_icon.png"/> Save & next <img src="img/right_arrow.png"/>
							</a>
						</div>
					</div>
					<div class="clearfix">


					</div>

				</div>
			</div>

