
<!-- Project Creation Pop-Up -->
        <div id="hombre" class="fadeIn">

            <div id="popup">
            	
                <a href="#" class="alert_close pull-right">X</a>
                <img id="popup_logo" alt="Logo" src="../img/logo_header.png" />
	            <div class="tile_content_popup">    
	                <h1 class="welcome">
					Create new Project<br>
					<span class="subtitle">Step <span class="red_ink">1</span></span>
					</h1>

					<div class="subsection">
						<h2 class="subsection__title">Choose your project name</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a sapien sapien. Duis facilisis quam vel urna ultrices, non lacinia velit accumsan. Sed tincidunt in nibh eget lacinia. Quisque</p>
						<form name="input" action="" method="get">
							<div class="inputArea">
								<input type="text" value="">
							</div>
					</div>
					<hr>
					<div class="subsection">
						<h2 class="subsection__title">Add collaborators</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a sapien sapien. Duis facilisis quam vel urna ultrices, non lacinia velit accumsan. Sed tincidunt in nibh eget lacinia. Quisque</p>
						<div>
							<a href="" class="btn btn-plus" ng-click="getting_started = !getting_started"><i class="icon-plus"></i>Add</a>
							<a href="#create-project-2" class="btn btn-skip"><i class="icon-next pull-right"></i>Skip</a>
						</div>
					</div>
					<div id="getting_started" class="animate-hide ng-hide" ng-show="getting_started"> 
						<div class="subsection">
							<h2 class="subsection__title">Select and edit collaborators</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a sapien sapien. Duis facilisis quam vel urna ultrices, non lacinia velit accumsan. Sed tincidunt in nibh eget lacinia. Quisque</p>
							<div class="inputArea search">
								<i class="icon-search"></i><input type="text" class="searchArea__input" placeholder="Search for users">
							</div>
								<div class="singleUser" ng-class="{ expanded : assignRolesUser1 }">
									<div class="fb">
										<img src="img/user-avatar.jpg" alt="">
										<div class="singleUser__info">
											<h3 class="red_ink">Sam Marks</h3>
											<p>sam@quillo.co.uk - 1 project connection</p>
										</div>
										<a href="" ng-click="assignRolesUser1 = !assignRolesUser1;"><i class="icon-plus-red"></i></a>
									</div>
									<div id="assignRoles" class="animate-hide ng-hide" ng-show="assignRolesUser1">
										<h4>Assign Roles</h4>
										<div class="">
											<ul>
											<li>
												<span>Can edit Project:</span>
												<input type="checkbox" id="canEdit">
												<label for="canEdit" class="pull-right"><span></span>Editor</label>
											</li>
											<li>
												<span>Can share with others:</span>
												<input type="checkbox" id="canShare">
												<label for="canShare" class="pull-right"><span></span>Editor</label>
											</li>
											<li>
												<span class="label-block">Available Apps</span>
												<input type="checkbox" id="appDesign"><label for="appDesign"><span></span>Design</label>
												<input type="checkbox" id="appSponsorValues"><label for="appSponsorValues"><span></span>Sponsor Set Values</label>
												<input type="checkbox" id="appSponsorship"><label for="appSponsorship"><span></span>Sponsorship</label>
											</li>
											<li>
												<span>Can add collaborators</span>
												<input type="checkbox" id="canAddCollab">
												<label for="canAddCollab" class="pull-right"><span></span>Editor</label>
											</li>
											<li>
												<span>Can view Presentations</span>
												<input type="checkbox" id="canView">
												<label for="canView" class="pull-right"><span></span>Editor</label>
											</li>
											<li>
												<span>Can create Presentations</span>
												<input type="checkbox" id="canCreate">
												<label for="canCreate" class="pull-right"><span></span>Editor</label>
											</li>
										</ul>
										<div class="addSingleUser">
											<a href="" class="btn btn-plus"><i class="icon-plus"></i>Add</a>
										</div>
										</div>
									</div>
								</div>
								<div class="singleUser" ng-class="{ expanded : assignRolesUser2 }">
									<div class="fb">
										<img src="img/user-avatar.jpg" alt="">
										<div class="singleUser__info">
											<h3 class="red_ink">Sam Marks</h3>
											<p>sam@quillo.co.uk - 1 project connection</p>
										</div>
										<a href="" ng-click="assignRolesUser2 = !assignRolesUser2;"><i class="icon-plus-red"></i></a>
									</div>
									<div id="assignRoles" class="animate-hide ng-hide" ng-show="assignRolesUser2">
										<h4>Assign Roles</h4>
										<ul>
											<li>
												<span>Can edit Project:</span>
												<input type="checkbox" id="canEdit2"><label for="canEdit2"><span></span>Editor</label>
											</li>
											<li>
												<span>Can share with others:</span>
												<input type="checkbox" id="canShare2"><label for="canShare2"><span></span>Editor</label>
											</li>
											<li>
												<span>Available Apps</span>
												<input type="checkbox" id="appDesign2"><label for="appDesign2"><span></span>Design</label>
												<input type="checkbox" id="appSponsorValues2"><label for="appSponsorValues2"><span></span>Sponsor Set Values</label>
												<input type="checkbox" id="appSponsorship2"><label for="appSponsorship2"><span></span>Sponsorship</label>
											</li>
											<li>
												<span>Can add collaborators</span>
												<input type="checkbox" id="canAddCollab2"><label for="canAddCollab2"><span></span>Editor</label>
											</li>
											<li>
												<span>Can view Presentations</span>
												<input type="checkbox" id="canView2"><label for="canView2"><span></span>Editor</label>
											</li>
											<li>
												<span>Can create Presentations</span>
												<input type="checkbox" id="canCreate2"><label for="canCreate2"><span></span>Editor</label>
											</li>
										</ul>
										<div class="addSingleUser">
											<a href="" class="btn btn-plus"><i class="icon-plus"></i>Add</a>
										</div>
									</div>
								</div>
								<div class="singleUser" ng-class="{ expanded : assignRolesUser3 }">
									<div class="fb">
										<img src="img/user-avatar.jpg" alt="">
										<div class="singleUser__info">
											<h3 class="red_ink">Sam Marks</h3>
											<p>sam@quillo.co.uk - 1 project connection</p>
										</div>
										<a href="" ng-click="assignRolesUser3 = !assignRolesUser3;"><i class="icon-plus-red"></i></a>
									</div>
									<div id="assignRoles" class="animate-hide ng-hide" ng-show="assignRolesUser3">
										<h4>Assign Roles</h4>
										<ul>
											<li>
												<span>Can edit Project:</span>
												<input type="checkbox" id="canEdit3">
												<label for="canEdit3" class="pull-right"><span></span>Editor</label>
											</li>
											<li>
												<span>Can share with others:</span>
												<input type="checkbox" id="canShare3">
												<label for="canShare3" class="pull-right"><span></span>Editor</label>
											</li>
											<li>
												<span class="label-block">Available Apps</span>
												<input type="checkbox" id="appDesign3">
												<label for="appDesign3"><span></span>Design</label>
												<input type="checkbox" id="appSponsorValues3">
												<label for="appSponsorValues3"><span></span>Sponsor Set Values</label>
												<input type="checkbox" id="appSponsorship3">
												<label for="appSponsorship3"><span></span>Sponsorship</label>
											</li>
											<li>
												<span>Can add collaborators</span>
												<input type="checkbox" id="canAddCollab3">
												<label for="canAddCollab3" class="pull-right"><span></span>Editor</label>
											</li>
											<li>
												<span>Can view Presentations</span>
												<input type="checkbox" id="canView3">
												<label for="canView3" class="pull-right"><span></span>Editor</label>
											</li>
											<li>
												<span>Can create Presentations</span>
												<input type="checkbox" id="canCreate3">
												<label for="canCreate3" class="pull-right"><span></span>Editor</label>
											</li>
										</ul>
										<div class="addSingleUser">
											<a href="" class="btn btn-plus"><i class="icon-plus"></i>Add</a>
										</div>
									</div>
								</div>
							</div>
						<div>
					</div>
					<div class="subsection addMessage">
						<form>
							<div class="inputArea">
								<i class="icon-invite"></i><input type="text" class="searchArea__input" placeholder="Not listed above? Invide by email address">
							</div>
							<a ng-click="includeMessage = !includeMessage;" class="red_ink">Include a message?</a>
							<textarea class="animate-hide ng-hide" ng-show="includeMessage" placeholder="Type a personal message to new invitees"></textarea><br>
							<button type="submit" class="btn btn-plus"><i class="icon-plus"></i>Invite</button>
						</form>
					</div>
					<div>
						<a href="#create-project-2" class="btn btn-next">Next step<i class="icon-next pull-right"></i></a>
					</div>
	            </div>
	            
            </div>
        </div>