<h3 class="welcome">
	Create new Project<br>
	<span class="subtitle">Step <span class="red_ink">2</span></span>
</h3>
<div class="">
	<h4>Choose your project name</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a sapien sapien. Duis facilisis quam vel urna ultrices, non lacinia velit accumsan. Sed tincidunt in nibh eget lacinia. Quisque</p>
</div>
<div>
	<p>Can't find what you are after?</p>
	<a href="button">Request model</a>
</div>
<div class="wrapper">
	<div class="pretitle">
		<div class="tabs">
			<a class="tab" ng-click="tab=1">Race vehicles</a>
			<a class="tab" ng-click="tab=2">Vehicles</a>
			<a class="tab" ng-click="tab=3">Apparel</a>
			<a class="tab" ng-click="tab=4">Helmets</a>
			<a class="tab" ng-click="tab=5">Commercial vehicles</a>
		</div>
	</div>
</div>

<div class="container-fluid project_settings" id="details" ng-show="tab==5">
</div>
<div class="container-fluid project_settings" id="details" ng-show="tab==4">
</div>
<div class="container-fluid project_settings" id="details" ng-show="tab==3">
</div>
<div class="container-fluid project_settings" id="details" ng-show="tab==2">
</div>
<div class="container-fluid project_settings" id="details" ng-show="tab==1">
	<div class="tile_title">Select make</div>
	<div class="col-md-3 tile_content simple_tile">Select make
		<select id="filter_presentations" id="#" name="#">
			<option value="#">Option 1</option>
			<option value="#">Option 2</option>
			<option value="#">Option 3</option>
			<option value="#">Option 4</option>
			<option value="#">Option 5</option>
			<option value="#">Option 6</option>
			<option value="#">Option 7</option>
		</select>
	</div>
	<div class="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
	</div>
	<div class="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
		<img src="../img/project-creation2.jpg" alt="">
	</div>
</div>
<div>
	<a href="projectcreation3.html">Next step</a>
</div>