<div id="subheader">
    <div class="wrapper">
        <span class="subheader_block" id="collaborators">
            Collaborators <sup>+</sup>
        </span>
        <span class="subheader_block" id="projects_number">
            Active Projects<span class='red'>(7)</span>
        </span>
    </div>
</div>
<div class="wrapper wide">
	<div class="tile col-md-12">
		<div class="tile_title grey">
			<div class="row projectHeadLine fb" >
				<div class="col-md-6">
					<a href="#" class="black_button">SAVE <img src="img/save_icon.png"/></a>
					Project last saved: 12.04.2014 : 13:33
				</div>
				<div class="col-md-3">
					<a href="#" class="black_button">LOAD <img src="img/load_icon.png"/></a>
					Design 1a
				</div>
				<div class="col-md-3">
					<a href="#" class="blue_button">App settings <img src="img/gear_white.png"/></a>
				</div>
			</div>
			
		</div>

	</div>

	<div class="tile col-md-12">
		<div class="projectChoiceLine">
			<div class="fb jc-fs">
				<div class="app-button">APPS</div>
				<div class="">
					<a href="#">
						<img src="img/project_presentation.png"/> Presentation
					</a>
				</div>
				
				<div class="">
					<a href="#">
						<img src="img/project_design.png"/> Design
					</a>
				</div>
				
				<div class="">
					<a href="#">
						<img src="img/project_sponsor.png"/> Sponsor: Set values
					</a>
				</div>
				
				<div class="">
					<a href="#">
						<img src="img/project_sponsorship.png"/> Sponsorship
					</a>
				</div>
				</di
				v>
			</div>
		</div>


		<div class="tile app-content">
			<div class='fb'>
				<img src="img/project_image.png" class="col-md-9"/>
				<div class="screen-choice">
					<div class="hidden-xs hidden-sm">
						<div class="row">
							<div class="col-md-12 choice_icon">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 choice_icon" id="screenDivButton-0">
								<img src="img/project_icon_notchoosed.png" id="screenButton-0" onclick="changeScreen(0);"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 choose_icon" id="screenDivButton-1">
								<img src="img/project_icon_choosed.png" id="screenButton-1" onclick="changeScreen(1);"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 choice_icon" id="screenDivButton-2">
								<img src="img/project_icon_notchoosed.png" id="screenButton-2" onclick="changeScreen(2);"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 choice_icon" id="screenDivButton-3">
								<img src="img/project_icon_notchoosed.png" id="screenButton-3" onclick="changeScreen(3);"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 choice_icon" id="screenDivButton-4">
								<img src="img/project_icon_notchoosed.png" id="screenButton-4" onclick="changeScreen(4);"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 choice_icon" id="screenDivButton-5">
								<img src="img/project_icon_notchoosed.png" id="screenButton-5" onclick="changeScreen(5);"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 choice_icon" id="screenDivButton-6">
								<img src="img/project_icon_notchoosed.png" id="screenButton-6" onclick="changeScreen(6);"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 choice_icon" id="screenDivButton-7">
								<img src="img/project_icon_notchoosed.png" id="screenButton-7" onclick="changeScreen(7);"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 choice_icon" id="screenDivButton-8">
								<img src="img/project_icon_notchoosed.png" id="screenButton-8" onclick="changeScreen(8);"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 choice_icon" id="screenDivButton-9">
								<img src="img/project_icon_notchoosed.png" id="screenButton-9" onclick="changeScreen(9);"/>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 choice_icon" id="screenDivButton-10">
								<img src="img/project_icon_notchoosed.png" id="screenButton-10" onclick="changeScreen(10);"/>
							</div>
						</div>	
						<div class="row">
							<div class="col-md-12 choice_icon" id="screenDivButton-11">
								<img src="img/project_icon_notchoosed.png" id="screenButton-11" onclick="changeScreen(11);"/>
							</div>
						</div>	
					</div>

					<div class="visible-xs visible-sm fullsized">
						<div class="choice_icon" id="screenDivButtonHor-0">
							<img src="img/project_icon_notchoosed.png" id="screenButtonHor-0" onclick="changeScreen(0);"/>
						</div>
						<div class="choose_icon" id="screenDivButtonHor-1">
							<img src="img/project_icon_choosed.png" id="screenButtonHor-1" onclick="changeScreen(1);"/>
						</div>
						<div class="choice_icon" id="screenDivButtonHor-2"> 
							<img src="img/project_icon_notchoosed.png" id="screenButtonHor-2" onclick="changeScreen(2);"/>
						</div>
						<div class="choice_icon" id="screenDivButtonHor-3">
							<img src="img/project_icon_notchoosed.png" id="screenButtonHor-3" onclick="changeScreen(3);"/>
						</div>
						<div class="choice_icon" id="screenDivButtonHor-4">
							<img src="img/project_icon_notchoosed.png" id="screenButtonHor-4" onclick="changeScreen(4);"/>
						</div>
						<div class="choice_icon" id="screenDivButtonHor-5">
							<img src="img/project_icon_notchoosed.png" id="screenButtonHor-5" onclick="changeScreen(5);"/>
						</div>
						<div class="choice_icon" id="screenDivButtonHor-6">
							<img src="img/project_icon_notchoosed.png" id="screenButtonHor-6" onclick="changeScreen(6);"/>
						</div>
						<div class="choice_icon" id="screenDivButtonHor-7">
							<img src="img/project_icon_notchoosed.png" id="screenButtonHor-7" onclick="changeScreen(7);"/>
						</div>
						<div class="choice_icon" id="screenDivButtonHor-8">
							<img src="img/project_icon_notchoosed.png" id="screenButtonHor-8" onclick="changeScreen(8);"/>
						</div>
						<div class="choice_icon" id="screenDivButtonHor-9">
							<img src="img/project_icon_notchoosed.png" id="screenButtonHor-9" onclick="changeScreen(9);"/>
						</div>
						<div class="choice_icon" id="screenDivButtonHor-10">
							<img src="img/project_icon_notchoosed.png" id="screenButtonHor-10" onclick="changeScreen(10);"/>
						</div>
						<div class="choice_icon" id="screenDivButtonHor-11">
							<img src="img/project_icon_notchoosed.png" id="screenButtonHor-11" onclick="changeScreen(11);"/>
						</div>
					</div>

				</div>
					<div class="col-md-3 activeToolbar">
						
							<!-- active decals screen -->

							<div class="col-md-12 screen-choose" id="screenpanel-0" style="display:none;">
								<div class="row toolbarHeading">
									<div class="screen-title arrow-left"><img src="img/left_arrow.png" onclick="prevScreen();"/></div>
									<div class="screen-title arrow-right"><img src="img/right_arrow.png" onclick="nextScreen();"/></div>
									<div class="col-md-12 screen-title center" >Cameras</div>

								</div>

								<div class="row projectPanel panelScreen">


									<div class="col-md-12 innerPanel">

										<div class="row">
											<div class="projectTitle">
												<span>VIEWS</span>
											</div>
										</div>
										<div class="row fb fb--wrap">
											<div class="col-xs-4 left singleView selected">
												<a href="">
													<i class="icon-viewLeft"></i>
													<span>LEFT</span>
												</a>
											</div>
											<div class="col-xs-4 left singleView">
												<a href="">
													<i class="icon-panelFront"></i>
													<span>FRONT</span>
												</a>
											</div>
											<div class="col-xs-4 right singleView">
												<a href="">
													<i class="icon-panelRight"></i>
													<span>RIGHT</span>
												</a>
											</div>
											<div class="col-xs-4 left singleView">
												<a href="">
													<i class="icon-panelBack"></i>
													<span>BACK</span>
												</a>
											</div>
											<div class="col-xs-4 left singleView">
												<a href="">
													<i class="icon-panelTop"></i>
													<span>TOP</span>
												</a>
											</div>
											<div class="col-xs-4 right singleView">
												<a href="">
													<i class="icon-panelAuto"></i>
													<span>AUTO</span>
												</a>
											</div>
											<div class="col-xs-4 left singleView">
												<a href="">
													<i class="icon-panelFree"></i>
													<span>FREE</span>
												</a>
											</div>
											<div class="col-xs-4 left singleView">

											</div>
											<div class="col-xs-4 right singleView">

											</div>
										</div>
										<div class="row">
											<div class="projectTitle">
												<span>SETTINGS</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 left singleSetting">
												<div class="onOffToggle">
													<a href="" ng-click="bloomSwitch()">
													  <div class="onOffToggle__container" ng-class="bloomclass">
													    {{bloomclass}}
													  </div>
													</a>
												</div>
												<span>BLOOM</span>
											</div>
											<div class="col-xs-6 right singleSetting">
												<div class="onOffToggle">
													<a href="" ng-click="vignettingSwitch()">
													  <div class="onOffToggle__container" ng-class="vignettingclass">
													    {{vignettingclass}}
													  </div>
													</a>
												</div>
												<span>VIGNETTING</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 left singleSetting">
												<div class="onOffToggle">
													<a href="" ng-click="dofSwitch()">
													  <div class="onOffToggle__container" ng-class="dofclass">
													    {{dofclass}}
													  </div>
													</a>
												</div>
												<span>DEPTH OF FIELD</span>
											</div>

											<div class="col-xs-6 right singleSetting">
												<div class="onOffToggle">
													<a href="" ng-click="dsvSwitch()">
													  <div class="onOffToggle__container" ng-class="dsvclass">
													    {{dsvclass}}
													  </div>
													</a>
												</div>
												<span>DISPLAY SPONSOR VALUES</span>
											</div>
										</div>

									</div>
								</div>
								
							</div>

								<!-- camera screen -->

							<div class="col-md-12 screen-choose" id="screenpanel-1">
								<div class="row toolbarHeading">
									<div class="screen-title arrow-left"><img src="img/left_arrow.png" onclick="prevScreen();"/></div>
									<div class="screen-title arrow-right"><img src="img/right_arrow.png" onclick="nextScreen();"/></div>
									<div class="col-md-12 screen-title center" >Camera Shots</div>

								</div>

								<div class="row projectPanel panelScreen">


									<div class="col-md-12 innerPanel">

									
										<div class="row shotSetting">
											<a href="">
												<img src="img/camera-shots-1.png" alt="">
												<span>SCREENSHOT</span>
											</a>
										</div>

										<div class="row shotSetting">
											<a href="">
												<img src="img/camera-shots-2.png">
												<img src="img/camera-shots-2.png">
												<img src="img/camera-shots-2.png">
												<span>SCREENSHOT COLLECTION</span>
											</a>
										</div>

										<div class="row shotSetting">
											<a href="">
												<img src="img/camera-shots-3.png" alt="">
												<span>CINEMA CUT</span>
											</a>
										</div>

										<div class="row shotSetting">
											<a href="">
												<img src="img/camera-shots-4.png" alt="">
												<span>CREATE PRESENTATION IMAGES</span>
											</a>
										</div>

									</div>
								</div>
								
							</div>

							<!-- camera shoots -->

							<div class="col-md-12 screen-choose" id="screenpanel-2" style="display:none;">
								<div class="row toolbarHeading">
									<div class="screen-title arrow-left"><img src="img/left_arrow.png" onclick="prevScreen();"/></div>
									<div class="screen-title arrow-right"><img src="img/right_arrow.png" onclick="nextScreen();"/></div>
									<div class="col-md-12 screen-title center">Active decals</div>
								</div>
								<div class="row projectPanel panelScreen">
									<div class="col-md-12 innerPanel activeDecals">
										<div class="mainActive fb">
											<div class="mainActive_img">
												<img src="img/panel_logo_1.png" width="80">
											</div>
											<span class="">OFFICIAL 3M VINYL PRODUCTS</span>
										</div>

										<div class="">
											<div class="">
												<p>NIKE_02</p>
												<p><strong>£145.000</strong></p>
												<p>DECALS VALUE</p>
												<p><strong>£145.000</strong></p>
												<p>DECAL POSITION<br/>
													BONNET</p>

											</div>
										</div>

										<div class="row fb fb--wrap">
											<div class="activeDecals__img"><img src="img/panel_logo_2.png"></div>
											<div class="activeDecals__img"><img src="img/panel_logo_3.png"></div>
											<div class="activeDecals__img"><img src="img/panel_logo_2.png"></div>
											<div class="activeDecals__img"><img src="img/panel_logo_3.png"></div>
											<div class="activeDecals__img"><img src="img/panel_logo_2.png"></div>
											<div class="activeDecals__img"><img src="img/panel_logo_3.png"></div>
										</div>

										<br/>
										<div class="row">
											<div class="col-md-12">
												<p>CHOOSE WHAT LOGO YOU WOULD LIKE TO USE WHEN A DECAL IS ACTIVE IN THE APP</p>
											</div>
										</div>

									</div>
								</div>
							</div>

							<!-- decals -->



							<div class="col-md-12 screen-choose" id="screenpanel-3" style="display:none;">
								<div class="row toolbarHeading">
									<div class="screen-title arrow-left"><img src="img/left_arrow.png" onclick="prevScreen();"/></div>
									<div class="screen-title arrow-right"><img src="img/right_arrow.png" onclick="nextScreen();"/></div>
									<div class="col-md-12 screen-title center"> DECALS</div>
								</div>

								<div class="row projectPanel panelScreen">
									<div class="col-md-12 innerPanel">
										<div class="row fb">
											<a class="btn btn--grey" ng-click="tab=1" ng-class="{'active':tab === 1}">
												ADD +
											</a>
											<a class="active btn btn--grey" ng-click="tab=2" ng-class="{'active':tab === 2}">
												ADD TEXT +
											</a>
										</div>
										<div class="animate-hide ng-hide" ng-show="tab==1">
											<div class="row">
												<div class="col-xs-6"><img src="img/panel_logo_1.png" width="80"></div>
												<div class="col-xs-6">OFFICIAL 3M VINYL PRODUCTS</div>
											</div>
											<div class="row">
												<a class="btn btn--darkGrey">
													<span>ADD DECAL</span> 
													<i class="icon-plus"></i>
												</a>
											</div>

											<div class="row">
												<div class="col-xs-6 left"><img src="img/panel_logo_2.png"></div>
												<div class="col-xs-6 right"><img src="img/panel_logo_3.png"></div>
											</div>

											<div class="row">
												<div class="col-xs-6 left-text"></div>
												<div class="col-xs-6 right-text"></div>
											</div>

											<div class="row">
												<div class="col-xs-6 left"><img src="img/panel_logo_2.png"></div>
												<div class="col-xs-6 right"><img src="img/panel_logo_3.png"></div>
											</div>

											<div class="row">
												<div class="col-xs-6 left-text"></div>
												<div class="col-xs-6 right-text"></div>
											</div>

											<div class="row">
												<div class="col-xs-6 left"><img src="img/panel_logo_2.png"></div>
												<div class="col-xs-6 right"><img src="img/panel_logo_3.png"></div>
											</div>

											<div class="row">
												<div class="col-xs-6 left-text"></div>
												<div class="col-xs-6 right-text"></div>
											</div>

											<br/>
											<div class="row">
												<div class="col-md-12">
													<p>CHOOSE WHAT LOGO YOU WOULD LIKE TO USE WHEN A DECAL IS ACTIVE IN THE APP</p>
												</div>
											</div>
										</div>
										<div class="" ng-show="tab==2">
											<div class="row projectPanel panelScreen">
												<div class="col-md-12 innerPanel">
													<div class="row">
														<div class="col-xs-6"><img src="img/panel_logo_1.png" width="80"></div>
														<div class="col-xs-6">OFFICIAL 3M VINYL PRODUCTS</div>
													</div>
													<form>
														<label>Type wording below</label>
														<textarea name="textarea" rows="1" cols="10"></textarea>
														<input type="submit" value="Add decal +">
													</form>
												</div>
											</div>

										</div>

									</div>
								</div>
							</div>

							<!-- design blank-->

							<div class="col-md-12 screen-choose" id="screenpanel-4" style="display:none;">
								<div class="row toolbarHeading">
									<div class="screen-title arrow-left"><img src="img/left_arrow.png" onclick="prevScreen();"/></div>
									<div class="screen-title arrow-right"><img src="img/right_arrow.png" onclick="nextScreen();"/></div>
									<div class="col-md-12 screen-title center"> Designs</div>
								</div>

								<div class="row projectPanel panelScreen designs">
									<div class="col-md-12 innerPanel">
										<div class="row">
											<div class="designsHeader">
												<h4>You do not have any designs yet</h4>
												<hr />
												<h5>Convert your own designs</h5>
											</div>
											<a href="">
												<div class="assign_logos designsButton">
													<span>CONVERT</span> <i class="icon-plus pull-right"></i>
												</div>
											</a>
											<h4>OR</h4>
										</div>
										<div class="row">
											<h5>FIND A DESIGNER</h5>
											<a href="">
												<div class="assign_logos designsButton">
													<span>FIND</span> <i class="icon-plus pull-right"></i>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>


							<!-- designs -->


							<div class="col-md-12 screen-choose" id="screenpanel-5" style="display:none;">
								<div class="row toolbarHeading">
									<div class="screen-title arrow-left"><img src="img/left_arrow.png" onclick="prevScreen();"/></div>
									<div class="screen-title arrow-right"><img src="img/right_arrow.png" onclick="nextScreen();"/></div>
									<div class="col-md-12 screen-title center"> Designs</div>
								</div>

								<div class="row projectPanel panelScreen">
									<div class="col-md-12 innerPanel">
										<div class="row">
											<div class="projectTitle">
												<span>CHOOSE A DESIGN TO APPLY</span>
											</div>
										</div>
										<div class="row fb fb--wrap">
											<div class="activeDecals__img"><img src="img/panel_logo_2.png"></div>
											<div class="activeDecals__img"><img src="img/panel_logo_3.png"></div>
											<div class="activeDecals__img"><img src="img/panel_logo_2.png"></div>
											<div class="activeDecals__img"><img src="img/panel_logo_3.png"></div>
											<div class="activeDecals__img"><img src="img/panel_logo_2.png"></div>
											<div class="activeDecals__img"><img src="img/panel_logo_3.png"></div>
										</div>
									</div>
								</div>
							</div>

							
						

							<!-- materials -->

							<div class="col-md-12 screen-choose" id="screenpanel-6" style="display:none;">
								<div class="row toolbarHeading">
									<div class="screen-title arrow-left"><img src="img/left_arrow.png" onclick="prevScreen();"/></div>
									<div class="screen-title arrow-right"><img src="img/right_arrow.png" onclick="nextScreen();"/></div>
									<div class="col-md-12 screen-title center"> Materials</div>
								</div>

								<div class="row projectPanel panelScreen">
									<div class="col-md-12 innerPanel">
										<div class="row fb">
											<a class="btn btn--grey" ng-click="tab=1" ng-class="{'active':tab === 1}">
												EDIT BODY
											</a>
											<a class="active btn btn--grey" ng-click="tab=2" ng-class="{'active':tab === 2}">
												EDIT PANELS
											</a>
										</div>
										<div class="animate-hide" ng-show="tab==1">
											<div class="row">
												<div class="col-xs-6"><img src="img/panel_logo_1.png" width="80"></div>
												<div class="col-xs-6">OFFICIAL 3M VINYL PRODUCTS</div>
											</div>
											<div class="">Select materials</div>
											<div class="row">
												<div class="col-xs-4 left"><img src="img/materials-1.png"></div>
												<div class="col-xs-4 left"><img src="img/materials-2.png"></div>
												<div class="col-xs-4 left"><img src="img/materials-3.png"></div>
											</div>
											<div class="row">
												<div class="col-xs-4 left-text">CARBON</div>
												<div class="col-xs-4 left-text">CHROME</div>
												<div class="col-xs-4 right-text">GLOSS</div>
											</div>
											<div class="row">
												<div class="col-xs-4 left"><img src="img/materials-4.png"></div>
												<div class="col-xs-4 left"><img src="img/materials-5.png"></div>
											</div>
											<div class="row">
												<div class="col-xs-4 left-text">MATTE</div>
												<div class="col-xs-4 left-text">METALLIC</div>
											</div>
											<div class="">Select colour</div>
											<textarea rows="1" cols="20"></textarea>
											<a href="">Reset panel</a>
										</div>
									</div>
								</div>
							</div>


							<!-- quotes-->


							<div class="col-md-12 screen-choose" id="screenpanel-7" style="display:none;">
								<div class="row toolbarHeading">
									<div class="screen-title arrow-left"><img src="img/left_arrow.png" onclick="prevScreen();"/></div>
									<div class="screen-title arrow-right"><img src="img/right_arrow.png" onclick="nextScreen();"/></div>
									<div class="col-md-12 screen-title center"> Quotes</div>
								</div>
								<div class="row projectPanel panelScreen">
									<div class="col-md-12 innerPanel">
										<div class="row fb">
											<a class="btn btn--grey" ng-click="tab=1" ng-class="{'active':tab === 1}">
												FULL WRAP
											</a>
											<a class="active btn btn--grey" ng-click="tab=2" ng-class="{'active':tab === 2}">
												SELF APP LOGOS
											</a>
										</div>
										<div class="row">
											<div class="col-xs-6"><img src="img/panel_logo_1.png" width="80"></div>
											<div class="col-xs-6">OFFICIAL 3M VINYL PRODUCTS</div>
										</div>
										<div class="row"><div class="">Designs</div></div>
										<div class="row">
											<div class="col-xs-6 left-text">Choose 1</div>
											<div class="col-xs-6 right-text">Inlcude<input class="lpics2check" type="checkbox" /></div>
										</div>
										<div class="row">
											<div class="col-xs-6 left">
												<img src="img/panel_logo_2.png">
												<input class="lpics2check" type="checkbox" />
											</div>
											<div class="col-xs-6 right">
												<img src="img/panel_logo_3.png">
												<input class="lpics2check" type="checkbox" />
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 left">
												<img src="img/panel_logo_2.png">
												<input class="lpics2check" type="checkbox" />
											</div>
											<div class="col-xs-6 right">
												<img src="img/panel_logo_3.png">
												<input class="lpics2check" type="checkbox" />
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 left-text">Logos</div>
											<div class="col-xs-6 right-text">Inlcude<input class="lpics2check" type="checkbox" /></div>
										</div>
										<div class="row">
											<div class="col-xs-6 right-text"><input class="lpics2check" type="checkbox" />Nike</div>
											<div class="col-xs-6 right-text">125x255mm</div>
										</div>
										<div class="row">
											<div class="col-xs-6 right-text"><input class="lpics2check" type="checkbox" />Adidas</div>
											<div class="col-xs-6 right-text">125x255mm</div>
										</div>
										<div class="row">
											<div class="col-xs-6 right-text"><input class="lpics2check" type="checkbox" />Adidas</div>
											<div class="col-xs-6 right-text">125x255mm</div>
										</div>
										<div class="row">
											<div class="col-xs-6 right-text"><input class="lpics2check" type="checkbox" />Nike</div>
											<div class="col-xs-6 right-text">125x255mm</div>
										</div>
										<div class="row">
											<div class="col-xs-6 right-text"><input class="lpics2check" type="checkbox" />Adidas</div>
											<div class="col-xs-6 right-text">125x255mm</div>
										</div>
										<div class="row">
											<div class="col-xs-6 right-text"><input class="lpics2check" type="checkbox" />Adidas</div>
											<div class="col-xs-6 right-text">125x255mm</div>
										</div>
										<div class="row">
											<div class="col-xs-6 left-text">Screenshots</div>
											<div class="col-xs-6 right-text">Inlcude<input class="lpics2check" type="checkbox" /></div>
										</div>
										<div class="row">
											<div class="col-xs-6 left">
												<img src="img/panel_logo_2.png">
												<input class="lpics2check" type="checkbox" />
											</div>
											<div class="col-xs-6 right">
												<img src="img/panel_logo_3.png">
												<input class="lpics2check" type="checkbox" />
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 left">
												<img src="img/panel_logo_2.png">
												<input class="lpics2check" type="checkbox" />
											</div>
											<div class="col-xs-6 right">
												<img src="img/panel_logo_3.png">
												<input class="lpics2check" type="checkbox" />
											</div>
										</div>
									</div>
								</div>
							</div>


							<!--scenes -->

							<div class="col-md-12 screen-choose" id="screenpanel-8" style="display:none;">
								<div class="row toolbarHeading">
									<div class="screen-title arrow-left"><img src="img/left_arrow.png" onclick="prevScreen();"/></div>
									<div class="screen-title arrow-right"><img src="img/right_arrow.png" onclick="nextScreen();"/></div>
									<div class="col-md-12 screen-title center"> Scenes & Backplates</div>
								</div>
								<div class="row projectPanel panelScreen">
									<div class="col-md-12 innerPanel">
										<div class="projectTitle">
												<span>SCENES</span>
											</div>
										<div class="row">
											<div class="col-xs-6 left">
												<img src="img/scenes.jpg">
											</div>
											<div class="col-xs-6 right">
												<img src="img/scenes.jpg">
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 left">
												<img src="img/scenes.jpg">
											</div>
											<div class="col-xs-6 right">
												<img src="img/scenes.jpg">
											</div>
										</div>
										
										<div class="row">
											<div class="projectTitle">
												<span>BACKPLAGES</span>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 left">
												<img src="img/scenes.jpg">
											</div>
											<div class="col-xs-6 right">
												<img src="img/scenes.jpg">
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 left">
												<img src="img/scenes.jpg">
											</div>
											<div class="col-xs-6 right">
												<img src="img/scenes.jpg">
											</div>
										</div>
										</div>
									</div>
								</div>
							


							<!-- Sponsors values -->

							<div class="col-md-12 screen-choose" id="screenpanel-9" style="display:none;">
								<div class="row toolbarHeading">
									<div class="screen-title arrow-left"><img src="img/left_arrow.png" onclick="prevScreen();"/></div>
									<div class="screen-title arrow-right"><img src="img/right_arrow.png" onclick="nextScreen();"/></div>
									<div class="col-md-12 screen-title center"> Sponsors Values</div>
								</div>

								<div class="row projectPanel panelScreen sponsorValues">
									<div class="col-md-12 innerPanel">
										<div class="row fb">
											<a class="btn btn--grey" ng-click="tab=1" ng-class="{'active':tab === 1}">
												OVERALL
											</a>
											<a class="active btn btn--grey" ng-click="tab=2" ng-class="{'active':tab === 2}">
												INDIVIDUAL
											</a>
										</div>
										<div class="animate-hide ng-hide" ng-show="tab==1">
											<div class="row">
												<p> Etiam euismod, turpis at dignissim pharetra, velit risus placerat massa, ac ultrices lorem sem id augue. Morbi eu pretium lorem, eu rhoncus</p>
											</div>
											<hr />
											<div class="row sponsorValue__price">
												<span>£145.00</span>
											</div>
											<form class="sponsorValue__form">
												<textarea rows="1" cols="20"></textarea>
												<button type="submit" class="btn btn--darkGrey">
													<span>SUBMIT VALUE</span> 
													<i class="icon-plus"></i>
												</button>
											</form>
										</div>
									</div>
								</div>
							</div>


							<!--Wheels mods -->

							<div class="col-md-12 screen-choose" id="screenpanel-10" style="display:none;">
								<div class="row toolbarHeading">
									<div class="screen-title arrow-left"><img src="img/left_arrow.png" onclick="prevScreen();"/></div>
									<div class="screen-title arrow-right"><img src="img/right_arrow.png" onclick="nextScreen();"/></div>
									<div class="col-md-12 screen-title center"> Wheels</div>
								</div>

								<div class="row projectPanel panelScreen wheels">
									<div class="col-md-12 innerPanel">
										<div class="row fb">
											<a class="btn btn--grey" ng-click="tab=1" ng-class="{'active':tab === 1}">
												WHEELS
											</a>
											<a class="active btn btn--grey" ng-click="tab=2" ng-class="{'active':tab === 2}">
												MODS
											</a>
										</div>
										<div class="row">
											<div class="col-xs-6"><img src="img/wheels.jpg"></div>
											<div class="col-xs-6">Official OZ racing products</div>
										</div>
										<div class="row">
											<label>Size</label>
											<select id="filter_presentations" name="size">
								                <option value="#">Option 1</option>
								                <option value="#">Option 2</option>
								                <option value="#">Option 3</option>
								                <option value="#">Option 4</option>
								                <option value="#">Option 5</option>
								                <option value="#">Option 6</option>
								                <option value="#">Option 7</option>
								            </select>
										</div>
										<div>
											<label class="block">SELECT COLOUR</label>
											<textarea rows="10" cols="20"></textarea>
										</div>
										<div class="fb toolbarInner">
											<span class="">TIRE BRAND</span>
											<div class="col-xs-7"><img src="img/wheels-1.jpg" alt=""></div>
										</div>
										<div class="toolbarInner">
											<div class="block">TIRE TYPE</div>
											<div class="fb fb--wrap jc-sb">
												<div class="tireType"><img src="img/wheels-2.jpg" alt=""></div>
												<div class="tireType"><img src="img/wheels-2.jpg" alt=""></div>
												<div class="tireType"><img src="img/wheels-2.jpg" alt=""></div>
												<div class="tireType"><img src="img/wheels-2.jpg" alt=""></div>
												<div class="tireType"><img src="" alt=""></div>
												<div class="tireType"><img src="" alt=""></div>
											</div>
										</div>
										<div class="fb toolbarInner">
											<span class="">BRAKE BRAND</span>
											<div class="col-xs-7"><img src="img/wheels-3.jpg" alt=""></div>
										</div>
										<div>
											<label class="block">BRAKE COLOUR</label>
											<textarea rows="10" cols="20"></textarea>
										</div>
									</div>
								</div>
							</div>

							<!-- -->

						</div>


							</div>
						</div>
					</div>
				</div>
			</div>

		<div class="tile col-md-12">
			<div class="col-md-12 appdata">
				<div class="row table-header">
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-12 table-title">
								<span class="">App Data</span>
							</div>
						</div>
						<div class="row categories">
							<div class="tabs">
			
			<a class="tab active" ng-click="tab=1" ng-class="{'active':tab === 1}">
				Vinyl List
			</a>
			<a class="tab" ng-click="tab=2" ng-class="{'active':tab === 2}">
				Sponsor List
			</a>
			<a class="tab" ng-click="tab=3" ng-class="{'active':tab === 3}">
				Sponsors Value List
			</a>
			<a class="tab" ng-click="tab=4" ng-class="{'active':tab === 4}">
				Part List
			</a>
		</div>

					</div>
				</div>
				<div class="content">
					<div class="container-fluid project_settings" id="details" ng-show="tab==1">
						<div class="col-md-12 appdata-table">
							<div class="row table-header">
								<div class="col-xs-2">Product</div>
								<div class="col-xs-5">Colour ID</div>
								<div class="col-xs-5">Measurement</div>
							</div>
							<div class="row appdata-row even">
								<div class="col-xs-2"><img src="img/appdata-color.png"> 1080</div>
								<div class="col-xs-5">Pantone</div>
								<div class="col-xs-5">3.2m squared</div>
							</div>
							
							<div class="row appdata-row">
								<div class="col-xs-2"><img src="img/appdata-color.png"> 1080</div>
								<div class="col-xs-5">Pantone</div>
								<div class="col-xs-5">3.2m squared</div>
							</div>
							
							<div class="row appdata-row even">
								<div class="col-xs-2"><img src="img/appdata-color.png"> 1080</div>
								<div class="col-xs-5">Pantone</div>
								<div class="col-xs-5">3.2m squared</div>
							</div>
							
							<div class="row appdata-row">
								<div class="col-xs-2"><img src="img/appdata-color.png"> 1080</div>
								<div class="col-xs-5">Pantone</div>
								<div class="col-xs-5">3.2m squared</div>
							</div>
							
							<div class="row appdata-row even">
								<div class="col-xs-2"><img src="img/appdata-color.png"> 1080</div>
								<div class="col-xs-5">Pantone</div>
								<div class="col-xs-5">3.2m squared</div>
							</div>
							
						</div>
					</div>
					<div class="container-fluid project_settings" id="details" ng-show="tab==2">
						<div class="col-md-12 appdata-table">
							<div class="row table-header">
								<div class="col-xs-2">Sponsor</div>
								<div class="col-xs-5">No. Decals</div>
								<div class="col-xs-5">Total Value</div>
							</div>
							<div class="row appdata-row even">
								<div class="col-xs-2"><img src="img/appdata-color.png"> 1080</div>
								<div class="col-xs-5">Pantone</div>
								<div class="col-xs-5">3.2m squared</div>
							</div>
							
							<div class="row appdata-row">
								<div class="col-xs-2"><img src="img/appdata-color.png"> 1080</div>
								<div class="col-xs-5">Pantone</div>
								<div class="col-xs-5">3.2m squared</div>
							</div>
							
							<div class="row appdata-row even">
								<div class="col-xs-2"><img src="img/appdata-color.png"> 1080</div>
								<div class="col-xs-5">Pantone</div>
								<div class="col-xs-5">3.2m squared</div>
							</div>
							
							<div class="row appdata-row">
								<div class="col-xs-2"><img src="img/appdata-color.png"> 1080</div>
								<div class="col-xs-5">Pantone</div>
								<div class="col-xs-5">3.2m squared</div>
							</div>
							
							<div class="row appdata-row even">
								<div class="col-xs-2"><img src="img/appdata-color.png"> 1080</div>
								<div class="col-xs-5">Pantone</div>
								<div class="col-xs-5">3.2m squared</div>
							</div>
							
						</div>
					</div>
					<div class="container-fluid project_settings" id="details" ng-show="tab==3">
						<div class="col-md-12 appdata-table">
							<div class="row table-header">
								<div class="col-xs-12">Overall Value £325.000</div>
							</div>
							<div class="row appdata-row even">
								<div class="col-xs-6"> Part</div>
								<div class="col-xs-6">Square metre</div>
								
							</div>
							
							<div class="row appdata-row">
								<div class="col-xs-6">Bonnet</div>
							
								<div class="col-xs-6">2.5m</div>
							</div>
							
							<div class="row appdata-row even">
								<div class="col-xs-6">Bonnet</div>
							
								<div class="col-xs-6">2.5m</div>
							</div>
							
							<div class="row appdata-row">
								<div class="col-xs-6">Bonnet</div>
							
								<div class="col-xs-6">2.5m</div>
							</div>
							
							<div class="row appdata-row even">
								<div class="col-xs-6">Bonnet</div>
							
								<div class="col-xs-6">2.5m</div>
							</div>
							
						</div>
					</div>
					<div class="container-fluid project_settings" id="details" ng-show="tab==4">
						<div class="col-md-12 appdata-table">
							<div class="row table-header">
								<div class="col-xs-12">Overall Value £325.000</div>
							</div>
							<div class="row appdata-row even">
								<div class="col-xs-6"> Part</div>
								<div class="col-xs-6">Value</div>
							</div>
							
							<div class="row appdata-row">
								<div class="col-xs-6">Bonnet</div>
							
								<div class="col-xs-6">2.5m</div>
							</div>
							
							<div class="row appdata-row even">
								<div class="col-xs-6">Bonnet</div>
							
								<div class="col-xs-6">2.5m</div>
							</div>
							
							<div class="row appdata-row">
								<div class="col-xs-6">Bonnet</div>
							
								<div class="col-xs-6">2.5m</div>
							</div>
							
							<div class="row appdata-row even">
								<div class="col-xs-6">Bonnet</div>
							
								<div class="col-xs-6">2.5m</div>
							</div>
							
						</div>
					</div>
		</div>
	</div>


















	</div>
</div>



	<script type="text/javascript">
	var screenSelected = 1;
	var screenCount = 12;

	function nextScreen(){
		changeScreen((screenSelected + screenCount - 11) % screenCount);
	};

	function prevScreen(){
		changeScreen((screenSelected + 11) % screenCount);	
	};

	function changeScreen(newScreen){
		var oldElement = document.getElementById("screenpanel-" + screenSelected);
		var newElement = document.getElementById("screenpanel-" + newScreen);

		oldElement.style.display = "none";
		newElement.style.display = "block";

		var oldElement = document.getElementById("screenButton-" + screenSelected);
		var newElement = document.getElementById("screenButton-" + newScreen);

		oldElement.src = "img/project_icon_notchoosed.png";
		newElement.src = "img/project_icon_choosed.png";

		var oldElement = document.getElementById("screenDivButton-" + screenSelected);
		var newElement = document.getElementById("screenDivButton-" + newScreen);

		oldElement.className = "col-md-12 choice_icon";
		newElement.className = "col-md-12 choose_icon";

		var oldElement = document.getElementById("screenButtonHor-" + screenSelected);
		var newElement = document.getElementById("screenButtonHor-" + newScreen);

		oldElement.src = "img/project_icon_notchoosed.png";
		newElement.src = "img/project_icon_choosed.png";

		var oldElement = document.getElementById("screenDivButtonHor-" + screenSelected);
		var newElement = document.getElementById("screenDivButtonHor-" + newScreen);

		oldElement.className = "col-md-12 choice_icon";
		newElement.className = "col-md-12 choose_icon";

		screenSelected = newScreen;

	};
	</script>
