<h3 class="welcome">
	Create new Project<br>
	<span class="subtitle">Step <span class="red_ink">3</span></span>
</h3>
<div class="">
	<h4>Choose scene</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a sapien sapien. Duis facilisis quam vel urna ultrices, non lacinia velit accumsan. Sed tincidunt in nibh eget lacinia. Quisque</p>
</div>
<div>
	<p>Can't find what you are after?</p>
	<a href="button">Request model</a>
</div>
<div class="wrapper">
	<div class="pretitle">
		<div class="tabs">
			<a class="tab" ng-click="tab=1">Race scenes</a>
			<a class="tab" ng-click="tab=2">Interior scenes</a>
			<a class="tab" ng-click="tab=3">Road scenes</a>
			<a class="tab" ng-click="tab=4">City scenes</a>
		</div>
	</div>
</div>

<div class="container-fluid project_settings" id="details" ng-show="tab==4">
</div>
<div class="container-fluid project_settings" id="details" ng-show="tab==3">
</div>
<div class="container-fluid project_settings" id="details" ng-show="tab==2">
</div>
<div class="container-fluid project_settings" id="details" ng-show="tab==1">
	<div class="tile_title">Select make</div>
	<div class="fb">
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
	</div>
	<div class="fb">
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
		<div>
			<img src="../img/project-creation3.jpg" alt="">
			<input class="lpics2check" type="checkbox">
		</div>
	</div>
</div>
<div>
	<a href="projectcreation4.html">Next step</a>
</div>