<div class="tile_content_popup">
	<h3 class="welcome">
	Create new Project<br>
	<span class="subtitle">Step <span class="red_ink">1</span></span>
	</h3>
	<div class="">
		<h4>Choose your project name</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a sapien sapien. Duis facilisis quam vel urna ultrices, non lacinia velit accumsan. Sed tincidunt in nibh eget lacinia. Quisque</p>
		<form name="input" action="" method="get">
			<input type="submit" value="Submit">
		</form>
	</div>
	<div class="">
		<h4>Add collaborators</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a sapien sapien. Duis facilisis quam vel urna ultrices, non lacinia velit accumsan. Sed tincidunt in nibh eget lacinia. Quisque</p>
		<div>
			<a href="" ng-click="getting_started = !getting_started">Add</a>
		</div>

			<div id="getting_started" class="animate-hide ng-hide" ng-show="getting_started"> 
				<div class="singleUser">
					<img src="" alt="">
					<h5 class="red_ink">Sam Marks</h5>
					<p>sam@quillo.co.uk - 1 project connection</p>
					<a href="" ng-click="getting_started = !getting_started">+</a>
					<div id="assignRoles" class="animate-hide ng-hide" ng-show="assignRoles<UserId>">
						<img src="" alt="">
						<h5 class="red_ink">Sam Marks</h5>
						<p>sam@quillo.co.uk - 1 project connection</p>
						<h5>Assign Roles</h5>
						<div class="">
							<ul>
								<li>Can edit Project:</li>
								<li>can share with others:</li>
							</ul>
							<ul>
								<li>Editor</li>
								<li>Editor</li>
							</ul>
						</div>
						<p>Available Apps</p>
						<ul>
							<li>Design</li>
							<li>Sponsor Set Values</li>
							<li>Sponsorship</li>
						</ul>
						<div class="">
							<ul>
								<li>Can add collaborators</li>
								<li>Can view Presentations</li>
								<li>Can create Presentations</li>
							</ul>
							<ul>
								<li>Editor</li>
								<li>Editor</li>
								<li>Editor</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		<div>
	</div>
	<div class="">
		<form>
			<input type="mail" name="" placeholder="Not listed above? Invite by email address..."><br>
			<input type="textarea" placeholder="Type a personal message to new invitees"><br>
			<input type="submit" value="Invite">
		</form>
	</div>
	<div>
		<a href="projectcreation2.html">Next step</a>
	</div>
</div>