 <div id="hombre" class="fadeIn step2">

            <div id="popup">
            	
                <a href="#" class="alert_close pull-right">X</a>
                <img id="popup_logo" alt="Logo" src="../img/logo_header.png" />
	            <div class="tile_content_popup">    
	                <h1 class="welcome">
						Create new Project<br>
						<span class="subtitle">Step <span class="red_ink">3</span></span>
					</h1>
				<div class="subsection">
					<h2 class="subsection__title">Choose scene</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a sapien sapien. Duis facilisis quam vel urna ultrices, non lacinia velit accumsan. Sed tincidunt in nibh eget lacinia. Quisque</p>
				</div>
				<hr />
				<div class="fb pull-right section--request">
					<p>Can't find what you are after?</p>
					<a href="" class="btn btn-square">Request model <i class="icon-next pull-right"></i></a>
				</div>
				<div class="tabs-step2">
					<div class="wrapper">
						<div class="pretitle">
							<div class="tabs">
								<a class="tab" ng-click="tab=1">Race scense</a>
								<a class="tab" ng-click="tab=2">Interior scenes</a>
								<a class="tab" ng-click="tab=3">Road scenes</a>
								<a class="tab" ng-click="tab=4">City scenes</a>
							</div>
						</div>
					</div>
					<div class="container-fluid project_settings" id="details" ng-show="tab==4">
					</div>
					<div class="container-fluid project_settings" id="details" ng-show="tab==3">
					</div>
					<div class="container-fluid project_settings" id="details" ng-show="tab==2">
					</div>
					<div class="project_settings" ng-show="tab==1">
						<div class="tile_title red_ink">Select make</div>
						<div class="container-fluid" id="details">
							<div class="col-md-3 simple_tile">Select make
								<select id="filter_presentations" id="#" name="#">
									<option value="#">Option 1</option>
									<option value="#">Option 2</option>
									<option value="#">Option 3</option>
									<option value="#">Option 4</option>
									<option value="#">Option 5</option>
									<option value="#">Option 6</option>
									<option value="#">Option 7</option>
								</select>
							</div>
							<div class="fb fb--wrap imageSelection">
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>	
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>
								<div class="imgCheck">
									<img src="../img/project-creation2.jpg" alt="">
									<input class="lpics2check" type="checkbox" />
									<div class="imgCheck-hover">
										<div class="fb jc-sb">
											<span>F1</span>
											<span>E20</span>
										</div>
										<div class="imgCheck-hover__desc">
											Lorem ipsum dolor sit amet,
										</div>
									</div>
								</div>	
							</div>
					</div>
				</div>
				<a href="#create-project-4" class="btn btn-next">Next step<i class="icon-next pull-right"></i></a>