<div id="subheader" class="fadeIn">
	<div class="wrapper">
		<span class="subheader_block" id="collaborators">
			Collaborators <sup>+</sup>
		</span>
		<span class="subheader_block" id="projects_number">
			<span class="projects_number"> Support </span>
		</span>
	</div>
</div> 
<div class="wrapper fadeIn">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 tile">
				<div class="tile_content">
					<!-- Return to support -->
					<a id="return_support" class="animate-hide" ng-show="more_info" ng-click="more_info=false;"><img class="left_arrow_support" src="img/arrow_left_red.png"/>Return to support</a>
					<div id="support_intro">
						<h3>How can we help?</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a sapien sapien. Duis facilisis quam vel urna ultrices, non lacinia velit accumsan. Sed tincidunt in nibh eget lacinia. Quisque tincidunt metus lectus, in auctor elit auctor a. Aenean at dolor auctor, accumsan nibh ac, luctus ante. In a purus rhoncus massa malesuada hendrerit vitae ac leo. </p>
					</div>
					<!-- Getting Started -->
					<div id="support_started" class="animate-hide" ng-show="getting_started">
						<h3>Using the app</h3>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
						<hr />
						<h3>Frequently Asked Questions</h3>
						<div class="support_list">
							<ol>
								<li>
									<p>
										<a ng-click="getting_started_item1 = !getting_started_item1;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="getting_started_item1">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="getting_started_item1=false;">Close [-]</a>
									</span>
								</li>

								<li>
									<p>
										<a ng-click="getting_started_item2 = !getting_started_item2;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="getting_started_item2">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="getting_started_item2=false;">Close [-]</a>
									</span>
								</li>

								<li>
									<p>
										<a ng-click="getting_started_item3 = !getting_started_item3;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="getting_started_item3">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="getting_started_item3=false;">Close [-]</a>
									</span>
								</li>

								<li>
									<p>
										<a ng-click="getting_started_item4 = !getting_started_item4;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="getting_started_item4">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="getting_started_item4=false;">Close [-]</a>
									</span>
								</li>

								<li>
									<p>
										<a ng-click="getting_started_item5 = !getting_started_item5;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="getting_started_item5">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="getting_started_item5=false;">Close [-]</a>
									</span>
								</li>
								
								<li>
									<p>
										<a ng-click="getting_started_item6 = !getting_started_item6;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="getting_started_item6">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="getting_started_item6=false;">Close [-]</a>
									</span>
								</li>
							</ol>
						</div>
						<div class="support_list">
							<ol start="7" 
							><li><p><a href="#/support">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a></p></li
							><li><p><a href="#/support">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a></p></li
							><li><p><a href="#/support">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a></p></li
							><li><p><a href="#/support">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a></p></li
							></ol>
						</div>
					</div>

					<!-- Project -->
					<div id="support_started" class="animate-hide" ng-show="project">
						<h3>Using the app</h3>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
						<hr />
						<h3>Frequently Asked Questions</h3>
						<div class="support_list">
							<ol>
								<li>
									<p>
										<a ng-click="project_item1 = !project_item1;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="project_item1">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="project_item1=false;">Close [-]</a>
									</span>
								</li>

								<li>
									<p>
										<a ng-click="project_item2 = !project_item2;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="project_item2">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="project_item2=false;">Close [-]</a>
									</span>
								</li>

								<li>
									<p>
										<a ng-click="project_item3 = !project_item3;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="project_item3">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="project_item3=false;">Close [-]</a>
									</span>
								</li>

								<li>
									<p>
										<a ng-click="project_item4 = !project_item4;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="project_item4">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="project_item4=false;">Close [-]</a>
									</span>
								</li>

								<li>
									<p>
										<a ng-click="project_item5 = !project_item5;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="project_item5">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="project_item5=false;">Close [-]</a>
									</span>
								</li>
								
								<li>
									<p>
										<a ng-click="project_item6 = !project_item6;">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a>
									</p>
									<span id="support_2_text" class="animate-hide" ng-show="project_item6">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
										quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
										consequat.<br/>
										<a class="red_text" ng-click="project_item6=false;">Close [-]</a>
									</span>
								</li>
							</ol>
						</div>
						<div class="support_list">
							<ol start="7" 
							><li><p><a href="#/support">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a></p></li
							><li><p><a href="#/support">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a></p></li
							><li><p><a href="#/support">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a></p></li
							><li><p><a href="#/support">Curabitur convallis vel augue ut bibendum. Aliquam in vehicula</a></p></li
							></ol>
						</div>
					</div>

					<div id="support_contact">
						<hr />
						<h3>Contact Us</h3>
						<p>Lorem ipsump</p>	
						<a href="#/support"><h3 class="red_text">Get in touch  <img class="image_inline" src="img/arrow_right_red.png" alt=">"></h3></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 tile">
				<div class="tile_title_black">
					Select a category
				</div>
				<div class="tile_content">
					<p id="support_category_intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
						<div class="fb fb--wrap jc-sb support_cat_links">
							<a ng-click="project=false;getting_started=true;more_info=true;">
								<div class="">
									<div class="support_category border_right border_left border_bottom">
										<h3>Getting Started</h3>
										<img src="img/gear.png">
									</div>
								</div>
							</a>
							<a ng-click="project=true;getting_started=false;more_info=true;">
								<div class="">
									<div class="support_category border_right border_left border_bottom">
										<h3>Projects</h3>
										<img src="img/gear.png">
									</div>
								</div>
							</a>
							<a ng-click="getting_started=true;more_info=true;">
								<div class="">
									<div class="support_category border_right border_left border_bottom">
										<h3>Presentations</h3>
										<img src="img/gear.png">
									</div>
								</div>
							</a>
							<a ng-click="getting_started=true;more_info=true;">
								<div class="">
									<div class="support_category border_right border_left border_bottom">
										<h3>Billing</h3>
										<img src="img/gear.png">
									</div>
								</div>
							</a>
							<a ng-click="getting_started=true;more_info=true;">
								<div class="">
									<div class="support_category border_right border_left border_bottom">
										<h3>Quoting/Booking</h3>
										<img src="img/gear.png">
									</div>
								</div>
							</a>
							<a>
								<div class="">
									<div class="support_category border_right border_left border_bottom">
										<h3>Work with us</h3>
										<img src="img/gear.png">
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>